.centred {
	margin-left: auto;
	margin-right: auto;
}


tr.bucket td {
	/*
		width: 120px;
		height: 120px;
		*/
}

tr.bucket tr {
	background: pink;
}

#bucketTimeProgressBar {
	width: 700px;
}



tr.bucket td img, .imageStrip img {
	margin-left: auto;
	margin-right: auto;
	float: left;
	display: block;
	border-left: solid #CCC 1px;
	border-top: solid #CCC 1px;
	border-bottom: solid #333 1px;
	border-right: solid #333 1px;	
}

.imageStrip img {
	max-height: 70px;
}

.col-ImageStrip .imageStrip img {
	max-height: 50px;
	max-width: 70px;
}

tr.sized1 {
	display: none;
	/*
	height: 0px;
	*/
}

#hiddenImageStore {
	display: none;
}

#buckets {
}