@import "mixins";

$border-color: #888;
$percentage: 20%;
$light-border-color: lighten($border-color, $percentage);
$dark-border-color: darken($border-color, $percentage);
$border-width: 2px;

$vspacing: 2px;

$previewSpacing: 20px;

.centred {
	margin-left: auto;
	margin-right: auto;
}


tr.bucket td {
	/*
		width: 120px;
		height: 120px;
		*/
}

tr.bucket tr {
	background: pink;
}

/* This is broken as it seems dependent on the width of the table */
#bucketTimeProgressBar {
	width: 100%;
}

.hoverLarge {
	position: absolute;

	padding: 16px;
	border-left: solid $light-border-color $border-width;
	border-top: solid $light-border-color $border-width;
	border-bottom: solid $dark-border-color $border-width;
	border-right: solid $dark-border-color $border-width;
	background-color: white;
	z-index:1002;
	overflow: auto;
	@include box_shadow(3);

	&.horizontal {
		top: 10%;
		left: 15%;
	}

	&.vertical {
		top: 10%;
		left: 30%;
	}
}

#Root_Buckets table {
	border-collapse:separate;
	border-spacing: 0 2*$vspacing;
}


tr.bucket td img, .imageStrip img {
	margin-left: auto;
	margin-right: auto;
	float: left;
	display: block;
	border-left: solid #CCC 1px;
	border-top: solid #CCC 1px;
	border-bottom: solid #333 1px;
	border-right: solid #333 1px;
}

.imageStrip img {
	max-height: 70px;
}

.col-ImageStrip .imageStrip img {
	max-height: 50px;
	max-width: 70px;
}


.col-ImageStrip .imageStrip img.hoverLarge {
	max-height: none;
	max-width: none;
}

tr.sized1 {
	display: none;
	/*
	height: 0px;
	*/
}

#hiddenImageStore {
	display: none;
}

#buckets {
}

.createBucket {
	padding-left: 24px;
}


/*
Theme, not edit specific - move later
*/
.fullWidthMap {
	width: 100%;
	height: 240px;
}


.flickrSetFolderDroppable, .flickrSetDraggable {
	display: inline;
	float: left;
	padding: 10px;
	margin: 3px;
	border: solid #777 1px;
	width: 100px;
}

.flickrSetDraggable {
	background: yellow;
}

.flickrFolders {
	border-bottom: solid #777 1px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.flickrSetPages {
	clear: both;
}


// ---------------- REACT RELATED -----------------
div.visibility {
	width: 34%;
}


div.visibility .flickrPhoto {
	float: left;
	border-left: solid $light-border-color $border-width;
	border-top: solid $light-border-color $border-width;
	border-bottom: solid $dark-border-color $border-width;
	border-right: solid $dark-border-color $border-width;
	margin: 2px;
	@include box_shadow(1);

	img {
		height: 63px;
	}

}

.flickrPhoto {
	//padding: 100px;
}


// react related
img.previewFlickrImage {
	position: fixed;
	top: 4*$previewSpacing;
	right: $previewSpacing;

	width: 55%;
	border-left: solid $light-border-color $border-width;
	border-top: solid $light-border-color $border-width;
	border-bottom: solid $dark-border-color $border-width;
	border-right: solid $dark-border-color $border-width;
	@include box_shadow(4);

	&.orientation90 {
		width: 25%;
	}

}

.visible.flickrPhoto img {
	border: solid red 2px;
}


























